<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Device</title>
	<link rel="stylesheet" href="../static/styles/site.css">
</head>
<body>
    <h1>Add New Device</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/add" method="post" class="data-form">
        <input type="hidden" name="id" value="{{ device.id if device else '' }}">
        <div class="form-group"> 
        Name: <input type="text" name="name" value="{{ device.name if device else '' }}">
        </div>
        <div class="form-group">
        Model: <input type="text" name="model" value="{{ device.model if device else '' }}">
        </div>
        <div class="form-group">
        Serial Number: <input type="text" name="serial_number" value="{{ device.serial_number if device else '' }}">
        </div>
		<div class="form-group">
		Price: <input type="text" name="price" value="{{ '{:.2f}'.format(device.price) if device else '' }}">
		</div>
		<div class="form-group">
		Manufacture Date: <input type="text" name="manufacture_date" value="{{ device.manufacture_date.strftime('%m-%d-%Y') if device else '' }}">
		</div>
        <input type="submit" value="Add Device">
    </form>
</body>
</html>
