<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confirm Delete</title>
    <link rel="stylesheet" href="../static/styles/site.css">
</head>
<body>
    <div class="container">
        <div class="confirmation-box">
            <h2>Confirm Delete</h2>
            <p>Are you sure you want to delete the following device?</p>
            <p>ID: {{ device.id }}</p>
            <p>Name: {{ device.name }}</p>
            <p>Model: {{ device.model }}</p>
            <p>Serial Number: {{ device.serial_number }}</p>
            <p>Price: {{ '{:.2f}'.format(device.price) }}</p>
            <p>Manufacture Date: {{ device.manufacture_date.strftime('%m-%d-%Y') }}</p>

            <div class="btn-container">
                <form action="/deleteConfirmed/{{ device.id }}" method="get">
                    <input type="submit" class="btn btn-danger" value="Confirm Delete">
                </form>
				<form action="{{ url_for('index') }}" method="get">
					<input type="submit" class="btn btn-cancel" value="Cancel">
				</form>
            </div>
        </div>
    </div>
</body>
</html>
